rag-query-workflow.json
{
  "name": "RAG Query Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "RAG Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "rag-chat-webhook"
    },
    {
      "parameters": {
        "url": "http://embedding-service:80/embed",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "body": {
          "inputs": "={{ $json.body.query }}"
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "embedding-node",
      "name": "Get Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "search",
        "collectionName": "codebase_collection",
        "vector": "={{ $json[0] }}",
        "limit": 3,
        "options": {}
      },
      "id": "qdrant-search-node",
      "name": "Vector Search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [640, 300],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-credentials",
          "name": "Qdrant Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const query = $('RAG Chat Webhook').first().json.body.query;\nconst searchResults = $('Vector Search').all();\n\n// 검색 결과에서 컨텍스트 추출\nconst contexts = searchResults.map(item => {\n  // Qdrant 결과에서 페이로드 텍스트 추출\n  return item.json.payload?.text_chunk || item.json.payload?.content || '';\n}).filter(text => text.length > 0);\n\nconst contextString = contexts.join('\\n---\\n');\n\n// RAG 프롬프트 구성\nconst prompt = `다음 컨텍스트를 기반으로 사용자의 질문에 답변해주세요.\n\n컨텍스트:\n${contextString}\n\n질문: ${query}\n\n답변:`;\n\nreturn {\n  finalPrompt: prompt,\n  originalQuery: query,\n  contextCount: contexts.length\n};"
      },
      "id": "prompt-construction-node",
      "name": "Construct RAG Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "model": "llama3.2",
        "prompt": "={{ $json.finalPrompt }}",
        "options": {
          "temperature": 0.7,
          "streaming": true
        }
      },
      "id": "ollama-generation-node",
      "name": "Generate Response",
      "type": "@n8n/n8n-nodes-langchain.ollamaChatModel",
      "typeVersion": 1,
      "position": [1040, 300],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-credentials",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "id": "webhook-response-node",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "embedding-error-check",
      "name": "Check Embedding Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "error": "Embedding service failed",
          "message": "Unable to generate embeddings for your query"
        },
        "responseCode": 500,
        "options": {}
      },
      "id": "embedding-error-response",
      "name": "Embedding Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "search-results-check",
      "name": "Check Search Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "message": "질문에 대한 관련 정보를 찾을 수 없습니다. 다른 방식으로 질문을 해보시거나 더 구체적으로 물어보세요.",
          "suggestion": "Try rephrasing your question or asking about a different topic"
        },
        "options": {}
      },
      "id": "no-results-response",
      "name": "No Results Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 600]
    }
  ],
  "connections": {
    "RAG Chat Webhook": {
      "main": [
        [
          {
            "node": "Get Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Query Embedding": {
      "main": [
        [
          {
            "node": "Check Embedding Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Embedding Success": {
      "main": [
        [
          {
            "node": "Vector Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embedding Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search": {
      "main": [
        [
          {
            "node": "Check Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Search Results": {
      "main": [
        [
          {
            "node": "Construct RAG Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct RAG Prompt": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-22T02:26:00.000Z",
  "versionId": "1"
}